.input-text{
    border: 0 rgba(0,0,0,.2);
    color: #333;
    font-size: 0.8rem; // No se, si 18px estara bien. Pues se ve muy grande el texto :/ creo que se ve con mas afinidad al dise;o con este tama;o (14)
    border-radius: 2px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.2rem 0.8rem;
    outline: 0;
}